@import './variables.scss';
@import './common.scss';
@import './mixins.scss';
@import './sidebar.scss';
@import './ContentMyBooksList.scss';
@import './ContentBookDescription.scss';
@import './add-book.scss';
@import './authorization.scss';

body {
  background-color: $bg;
}

.top-bar {
  display: flex;
  flex-direction: column-reverse;
  padding: 5px;
  @media (min-width: 48em) {
    flex-direction: row;
    padding-left: 15px;
  }
    .btn-success {
      min-width: 70px;
      padding: .5rem 1.1rem;
    }
    .navbar-light .navbar-brand {
      color: $violet-light;
      &:hover {
        color: $black;
      }
        .fa-bookmark {
          padding-right: 5px;
          font-size: 20px;
        }
    }
}
.navbar {
  width: 100%;
  margin: 5px 0;
  @media (min-width: 48em) {
    margin: 0 17px;
  }
}
.bg-faded {
  background-color: $bg-violet;
}

.navbar-light .navbar-nav .nav-link {
  color: $white;
}

.navbar-right {
  width: 60vw;
  display: flex;
  flex-direction: column-reverse;
  @media (min-width: 48em) {
    width: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .user-block {
    display: flex;
    @media (min-width: 48em) {
      margin-top: -8px;
      margin-bottom: -8px;
      margin-right: -16px;
      background: $bg-dropdown-user;
      width: 200px;
      margin-right: -15px;
    }
  }
  .input-block {
    @media (min-width: 48em) {
      padding-right: 10px;
    }
  }
  li {
    margin-top: -8px;
    margin-bottom: -8px;
    padding-top: 9px;
    border-radius: 0 4px 4px 0;
    height: 54px;
    .fa-user {
      float: left;
      margin-left: 10px;
      height: 37px;
      padding: 10px 12px;
      border-radius: 5px;
      background-color: $bg-violet;
      font-size: 15px;
      color: $white;
    }
    .nav-link {
      display: block;
      padding: .5rem .5rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-size: 13px;
    }
  }
}

.form-top-bar {
  .btn-sm {
    padding: .08rem .5rem;
  }
  .btn-secondary {
    border-color: transparent;
    background-color: $bg-input;
    &:hover {
      background-color: $bg-violet-dark;
    }
  }
  .input-group-btn:not(:last-child)>.btn {
    margin-right: -2px;
  }
  input.form-control {
    min-width: 210px;
    border: 1px solid rgba(0,0,0,.0);
    background-color: $bg-input;
  }
  i.fa {
    font-size: 15px;
    padding: 8px;
    color: $white;
  }
}