@import './variables.scss';
@import './mixins.scss';

.container-sidebar {
  display: flex;
}
.sidebar {
  min-width: 70px;
  z-index: 10;
  position: absolute;
  width: 98.5%;
  background-color: $bg-violet;
  display: flex;
  justify-content: space-between;
  overflow: auto;
  margin-top: 0px;
  margin-left: -10px;
  border-radius: 5px;
  @media (min-width: 48em) {
    position: relative;
    /* test width: auto;*/
    margin-left: 0px;
    width: 4vw;
    flex-direction: column;
  }
  .sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: table;
    width: 100%;
    table-layout: fixed;

    @media (min-width: 48em) {
      display: flex;
      flex-direction: column;
    }
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
      @media (min-width: 48em) {
        &:first-child {
          margin-bottom: 1em;
        }
      }
    }
    li {
          display: table-cell;
      padding-top: 10px;
      cursor: pointer; 
    }
    .sidebar-item {
      &.active,
      &:hover {
        background-color: $bg-violet-dark;
      }
      a {
        display: flex;
        height: 64px;
        line-height: 20px;
        text-align: left;
        font-size: 32px;
        color: white;
        padding: 0 4px;
        text-decoration: none;

        flex-direction: column;
        text-align: center;
        span {
          font-size: 13px;
          padding-top: 7px;
          @media (min-width: 48em) {
            padding-top: 0px;
            font-size: 10px;
          }
        }
      }
    }
  }
}