/* FONT COLORS */
$white: #fff;
$black: #000;
$violet-light: #9796B8;
$grey-light: #c5c2bf;
$grey-dark: #373A3C;
$grey: #CCC;

/* BACKGROUND COLORS */
$bg: #E7E7E7;
$bg-violet: #5F5E8A;
$bg-violet-dark: #474769;
$bg-input: #7978A3;
$bg-dropdown-user: #595881;
$bg-grey-lighter: #FAFAFA;

$border-radius: 5px;